#profile{
    padding-left: 5%;
    padding-right: 2%;
}


body{
    padding-bottom: 0px;
}

.bg{
    min-height: 10vh;
}

.content{
    min-height: 90vh;
    padding-bottom: 6%;
}

.display-4{
    font-size: 2em;
    padding-top: 3%;
    border-bottom: 1px solid black;
    margin-bottom: 2%;
}

#profile img{
    width:190px;
    padding-bottom: 0;
    border: 3px solid black;
}

.content{
    padding-top: 2%;
}

#welcome{
    padding-left: 5%;
    margin-right: auto;
}

.jumbotron{
    box-shadow: 0px 0px 20px 0px black;
    padding-top: 3%;
    padding-bottom: 3%;
}

.display-5{
    padding-top: 2%;
    border-bottom: 1px solid black;
}
